/* Add styling for your page here */

.App {
  display: flex;
}

.bakeryTitle {
  padding-left: 8px;
}

.bakeryDisplay {
  width: 60%;
  margin-left: 10%;
  margin-right: 10%;
}

.bakeryItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
